<div class="bg-light px-4 py-3 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Resumo do pedido
</div>
<div class="p-4">
    <p *ngIf="eUmaOrdem" class="font-italic mb-4">Custos adicionais serão adicionados durante o checkout de sua compra</p>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Subtotal</strong>
            <strong>{{(total | currency)}}</strong>
        </li>      
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{total | currency}}</strong>
        </li>
</div>
