.blue-info-section {
    width: 100%;
    background: #3995f7;
    overflow: auto;
    text-align: center;
    color: #FFF;
    padding: 30px 0;
}


.blue-info-section .grid-4 {
    display: inline-block;
    float: none;
    font-size: 18px;
    letter-spacing: 1px;
}

.container-12 .grid-4 {
    width: 332px;
}

.how-section-header {
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}
div {
    display: block;
}

i{
    border: none;
    width: 60px;
}