<div class="row" *ngFor="let item of estacionamento">
    <!-- <div class="col-4">
        <img src="./assets/imagens/parkauto.png">
    </div> -->
    <div class="col-4">
        <img src="{{item.fotoEstacionamento}}">
    </div>
    <div class="col-6" >
        <p>{{item.nomeEstacionamento}}</p>
        <p>R$ {{item.precoHora}}</p>
        <p>{{item.formattedAddress}}, {{item.numero}}</p>
        <button (click)="AddItemCestaCompras()" type="button" class="alugar">Alugar Agora</button>
    </div>
</div>
